<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Jay's Vue Calculator!</title>
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="index.css">
  </head>
  <body>
    <div id="calculator-app" class="columns is-mobile1 is-centered">
      <div class="column is-half-tablet is-one-third-desktop is-one-third-widescreen is-one-third-fullhd">
        In this calculator app, a decimal place is a {{ decimalTypeDisplay }}<br>
        <button v-on:click="swapTypeDecimal()">Swap</button>
        <br><br>
        <input v-model="input" class="input" type="text" placeholder="Enter a calculation">
        <br><br>
        <div class="result-container">
        <span v-if="!output.hasErrors">
          Calculation Result:<br>
          <span class="calculation-result">{{ output.result }}</span>
        </span>
        </div>
        <div class="calculator-buttons">
        <button class="button is-white" id="num7" @click="button">7</button>
        <button class="button is-white" id="num8" @click="button">8</button>
        <button class="button is-white" id="num9" @click="button">9</button>
        <button class="button is-primary" id="delete" @click="button">DEL</button>
        <button class="button is-primary" id="ac" @click="button">AC</button>
        <button class="button is-white" id="num4" @click="button">4</button>
        <button class="button is-white" id="num5" @click="button">5</button>
        <button class="button is-white" id="num6" @click="button">6</button>
        <button class="button is-white" id="multiply" @click="button">×</button>
        <button class="button is-white" id="divide" @click="button">÷</button>
        <button class="button is-white" id="num1" @click="button">1</button>
        <button class="button is-white" id="num2" @click="button">2</button>
        <button class="button is-white" id="num3" @click="button">3</button>
        <button class="button is-white" id="plus" @click="button">+</button>
        <button class="button is-white" id="minus" @click="button">-</button>
        <button class="button is-white" id="num0" @click="button">0</button>
        <button class="button is-white" id="decimal" @click="button">{{ decimalTypeButton }}</button>
        <button class="button is-white" id="blank" disabled></button>
        <button class="button is-white" id="blank" disabled></button>
        <button class="button is-white" id="equals" @click="button" disabled>=</button>
        </div>
        <div class="errors" v-if="output.hasErrors">
          Errors:<br>
          <ul>
            <li v-for="error in output.errors">
              {{ error }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  <script src="index.js"></script>
  </body>
</html>